<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
<a class="navbar-brand" href="#">Rate My Vegan Product 💚</a>
<div *ngIf="showProductList" class="btn btn-success" (click)="addProduct();">+Add Product</div>
<div *ngIf="showAddProductPage" class="btn btn-warning" (click)="showProductList = true; showAddProductPage = false;">Go Back</div>
</nav>
<br><br><br>
<main role="main" class="container">
<div id="productList" *ngIf="showProductList">
    <div class="jumbotron" *ngFor="let product of products">
        <h1 class="text-center">{{product.name}}</h1>
        <img class="image-holder" [src]=getSantizeUrl(product.file) />
        <div class="text-center">{{product.typ}}</div>
        <div class="text-center">{{product.info}}</div>
        <br>
        <div class="d-flex justify-content-center">
            <div class="btn btn-success btn-block" (click)="upvote(product._id)">upvote</div>
            <div class="btn btn-primary">{{product.score}}</div>
            <div class="btn btn-danger btn-block" (click)="downvote(product._id)">downvote</div>
        </div>
        <br>
        <div class="d-flex justify-content-center">
          <div class="btn btn-danger btn-block" (click)="remove(product._id)">Remove Product</div>
        </div>
    </div>
</div>

<div id="productList" *ngIf="showAddProductPage">
    <div class="jumbotron">
        <form>
            <div class="form-group">
              <label for="exampleFormControlInput1">Produkt Name:</label>
              <input type="text" class="form-control" id="productName" placeholder="">
            </div>
            <br>
            Foto:
            <input type="file" accept="image/*" capture="camera" id="pictureAdd">
            <br><br>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Produkt Typ</label>
              <select class="form-control" id="productTyp">
                <option>Käse Ersatz</option>
                <option>Fleisch Ersatz</option>
                <option>Tofu</option>
                <option>Milch Ersatz</option>
                <option>Soßen</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Beschreibung/Infos</label>
              <textarea class="form-control" id="productInfo" rows="3"></textarea>
            </div>
        </form>
        <div class="btn btn-success btn-block" (click)="sendProduct();">Add Product</div>
    </div>
</div>
</main>