.jumbotron {
    padding: 1rem;
}

.listButton {
    width: 50%;
    border-radius: 0;
    background-color: #343a40;
    border-color: black;
}

.topBar {
    background-color: #343a40;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.issueButton {
    max-height: 35px;
}

.activeButton {
    background-color: #28a745;
}